:root {
  --primary-color: black;
  --secondary-color: #f6f6f6;
  --third-color: white;
  --font-size: 15px;
  --margin-size: 15px;
  --regPadding: 5rem;
}
html {
  font-size: 100%;
}

::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  font-family: Times New Roman;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-color);
}

.loaderCover {
  background-size: 200% 200%;
  animation: gradient 2s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

button {
  border-width: 0;
}

.flex-row {
  flex-direction: row;
  display: flex;
  /* align-items: center; */
}
.wrap {
  flex-wrap: wrap;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-around;
}
.align-right {
  justify-content: flex-end;
}
.align-center {
  justify-content: center;
}
.justify-center {
  justify-content: center;
}
.fullwidth {
  width: 100%;
}

.flex-column {
  flex-direction: column;
  display: flex;
}
.over-flow {
  overflow-x: scroll;
}
.reverse {
  flex-direction: row-reverse;
}
footer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
footer .logo {
  max-width: 35%;
}
footer a {
  text-decoration: none;
}

.introImage .flex-column {
  max-width: 45%;
}

.introImage img {
  max-width: 100%;
}

.greeting div p {
  color: #000;
  font-size: 70px;
  font-style: normal;
  font-weight: 300;
  line-height: 70px; /* 100% */
}

a,
p {
  margin: 0;
  min-height: var(--font-size);
  letter-spacing: 0em;
  text-align: left;
  white-space: normal;
  color: var(--primary-color);

  font-size: 30.7px;
  font-style: normal;
  font-weight: 300;
  line-height: 38.4px; /* 125.081% */
}
.smallp p,
.smallp {
  color: var(--primary-color);

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
}
.minip p,
.minip {
  font-size: 15px;
  line-height: normal;
}

a strong,
p strong {
  font-weight: 700;
}

h1 {
  color: var(--primary-color);

  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}
h1 strong {
  font-weight: 700;
}
h2 {
  color: var(--primary-color);

  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  margin: 5px 0 52px;
}
h2 strong {
  font-weight: 700;
}
h3 {
  color: var(--primary-color);

  font-size: 30.7px;
  font-style: normal;
  font-weight: 500;
  line-height: 38.4px; /* 125.081% */
}
h3 strong {
  font-weight: 700;
}
h4 {
  color: var(--primary-color);

  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 112.5% */
}
h4 strong {
  font-weight: 700;
}
h5 {
  color: var(--primary-color);

  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 112.5% */
}
h5 strong {
  font-weight: 700;
}

.minimisedtext p,
.minimisedtext a {
  font-size: 18.4px;
  line-height: 23px;
}

/* .heading {
  margin-top: 50px;
} */
.headline {
  margin-bottom: 50px;
}

.standardButton {
  margin: var(--margin-size);
  padding-left: var(--margin-size);
  padding-right: var(--margin-size);

  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 277px;
  height: 45px;
  font: inherit;
  font-size: var(--font-size);
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.menu_link.active,
.standardButton.active {
  color: blue;
}

.sortingButton {
  color: #1616f8;
  font-size: 30.7px;
  font-style: normal;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0);
  line-height: 38.4px; /* 125.081% */
}
.sortingButton.active {
  color: purple;

  font-size: 30.7px;
  font-style: italic;
  text-decoration: line-through;
  font-weight: 300;
  line-height: 38.4px; /* 125.081% */
}
select {
  /* appearance: none; */
  background-color: transparent;
  border: none;
  color: #1616f8;
  font-size: 30.7px;
  font-style: normal;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0);
  line-height: 38.4px; /* 125.081% */
  margin-right: 20px;
  width: 150px;
}
select:focus {
  border: none;
  outline: none;
}
#modeSelecting {
  position: fixed;

  top: 0;
  right: 0;
  appearance: none;
  display: block;
  margin: var(--margin-size);
  text-align: right;
  z-index: 99999;
  color: #000;
  font-size: 30.7px;
  font-style: normal;
  font-weight: 300;
  line-height: 38.4px; /* 125.081% */
  text-decoration: none;
  width: 210px;
}

#modeSelecting option {
  text-align: right;
  z-index: 99999;
  color: #000;
  font-size: 30.7px;
  font-style: normal;
  font-weight: 300;
  line-height: 38.4px; /* 125.081% */
  text-decoration: none;
  background-color: grey;
}
.select-dropdown {
  position: absolute;
  list-style: none;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  transition: 0.5s ease;
}

.custom-select li {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.custom-select option {
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
  background-color: grey;
  margin: 10px;
}

.select-dropdown::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.regPadding {
  padding: var(--regPadding);
}

.instagramStyle {
  padding: 50px 6rem 92px 6rem;
  max-width: 1650px;
}

.cubedImage,
.cube_card {
  /* max-height: 550px; */
  max-width: 550px;
  margin: 3px 5px;
}
.cubedImage img,
.cube_card img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.rowGallery .cubedImage {
  max-width: 47%;
}

.block img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* ////////MENU HEADER/////////// */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999999;
}
.menu {
  justify-content: space-between;
  /* padding: var(--margin-size); */
}
.menu_link {
  display: block;
  margin: var(--margin-size);
  z-index: 99999;
  color: #000;
  font-size: 30.7px;
  font-style: normal;
  font-weight: 300;
  line-height: 38.4px; /* 125.081% */
  text-decoration: none;
}

.current {
  color: blue;
  text-decoration: underline;
}

/* hero */

.hero {
  position: relative;
  width: 100%;
  min-height: 528px;
}
.hero span,
.hero span img {
  position: relative;
  width: 100%;
  object-fit: cover;
}
.heroContent {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.db_item {
  width: 100%;
  justify-content: space-between;
  padding: 1px;
  border-bottom: 2px solid black;
}
.db_item .year {
  width: 350px;
}

.db_item .description {
  width: 45%;
}
.db_item a,
.db_item p {
  font-size: 30.7px;
  font-style: normal;
  font-weight: 300;
  line-height: 38.4px; /* 125.081% */
  white-space: nowrap;
}

.tagButtons {
  padding: 10px 0 10px 0;
}
.list {
  overflow-x: hidden;
  padding: 10px;
}
.tagButtons {
  padding-left: 10px;
}
.tag {
  padding-right: 5px;
}

.projectPage {
  padding: 82px 0px 82px 0;
  min-height: 100vh;
  z-index: 0;
}

.block {
  padding: 10px;
}
.projectPage .blockitem {
  margin: 10px;
}

.blockitem .ressourcelist {
  padding: 0;
}
.singlePost .blockitem,
.ressourcelist {
  padding-bottom: 92px;
}

.leftMargin {
  min-width: 400px;
  width: 400px;
  max-width: 400px;
  padding-right: 70px;
}
.centered {
  width: 900px;
}

.projectDetailsListicle {
  padding-top: 92px;
  padding-bottom: 92px;
}
.projectdetails .flex-column {
  max-width: 900px;
}
.projectdetailslist {
  width: 100%;
  max-width: 900px;
}
.projectdetailslist p,
.projectdetailslist a {
  color: #000;

  font-size: 18.4px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px; /* 125% */
}
.projectdetailslist .flex-row .flex-column:is(:first-child) {
  min-width: 450px;
}

.connectedProjects {
  padding: 0 0 20px 0;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;

  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.post_card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 511px;
}
.post_card_overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
}
.post_card_overlay div,
.post_card_overlay p {
  pointer-events: none;
}
.post_card_overlay.active {
  opacity: 1;
}
.post_card span,
.post_card img {
  flex-shrink: 0;
}

footer {
  padding: 15px 47px 47px 37px;
}
footer .flex-column {
  padding-left: 47px;
}

footer a,
footer p {
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 120% */
  text-transform: capitalize;
  padding-top: 15px;
}

.rowblock:has(.textContent):is(:last-child) {
  margin-left: 80px;
}
.rowblock:has(.textContent):is(:first-child) {
  margin-right: 80px;
}
.blockitem span,
.blockitem img,
.rowblock span,
.rowblock span img {
  max-width: 100% !important;
  margin-bottom: 3px;
}

.gap {
  gap: 10px;
}
.page .textBlock,
.page .heading {
  padding: 10px;
}

@media only screen and (max-width: 1200px) {
  .leftMargin {
    min-width: 350px;
    width: 350px;
    max-width: 350px;
    padding-right: 50px;
  }
  .centered {
    width: 700px;
  }
}

@media only screen and (max-width: 1000px) {
  .leftMargin {
    min-width: 250px;
    width: 250px;
    max-width: 250px;
    padding-right: 50px;
  }
  .centered {
    width: 700px;
  }

  .projectdetailslist .flex-row .flex-column:is(:first-child) {
    min-width: 200px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 900px) {
  .db_item .description {
    display: none;
  }
  .centered {
    width: 100%;
  }

  .rowblock:has(.textContent):is(:last-child) {
    margin-left: 10px;
  }
  .rowblock:has(.textContent):is(:first-child) {
    margin-right: 10px;
  }
  .fold .rowblock:has(.textContent):is(:last-child) {
    margin-left: 0px;
  }
  .fold .rowblock:has(.textContent):is(:first-child) {
    margin-right: 0px;
  }

  .rowblock:has(.rowGallery) {
    min-width: 50%;
  }

  .fold {
    gap: 40px;
  }

  footer .logo {
    max-width: 55%;
  }
  footer a,
  footer p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 120% */
    text-transform: capitalize;
    padding-top: 12px;
  }

  .leftMargin {
    min-width: 15%;
    padding-right: 50px;
  }
  .flex-row.fold {
    flex-direction: column;
    gap: var(--font-size);
  }
  .projectdetailslist .flex-row .flex-column:is(:first-child) {
    min-width: 0;
  }
  .rowblock .flex-column {
    align-items: center;
  }
  .blockitem span,
  .blockitem img,
  .rowblock span,
  .rowblock span img {
    max-width: 100% !important;
  }
  .cubedImage,
  .cube_card {
    margin: 1px 2px;
  }

  a,
  p {
    margin: 0;
    min-height: var(--font-size);
    letter-spacing: 0em;
    text-align: left;
    white-space: normal;
    color: var(--primary-color);

    font-size: 20.7px;
    font-style: normal;
    font-weight: 300;
    line-height: 38.4px; /* 125.081% */
  }
  .smallp p,
  .smallp {
    color: var(--primary-color);

    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
  }
  .minip p,
  .minip {
    font-size: 12px;
    line-height: normal;
  }

  a strong,
  p strong {
    font-weight: 700;
  }

  h1 {
    color: var(--primary-color);

    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
  }
  h1 strong {
    font-weight: 700;
  }

  h2 {
    color: var(--primary-color);

    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    margin: 5px 0 52px;
  }
  h2 strong {
    font-weight: 700;
  }
  h3 {
    color: var(--primary-color);

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 38.4px; /* 125.081% */
  }
  h3 strong {
    font-weight: 700;
  }
  h4 {
    color: var(--primary-color);

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 112.5% */
  }
  h4 strong {
    font-weight: 700;
  }
  h5 {
    color: var(--primary-color);

    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 112.5% */
  }
  h5 strong {
    font-weight: 700;
  }

  .minimisedtext p,
  .minimisedtext a {
    font-size: 12.3px;
  }

  footer .flex-column.flex-column:is(:first-child) {
    padding-left: 0px;
  }

  .introImage .flex-column {
    max-width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    --regPadding: 1rem;
  }
  .leftMargin {
    min-width: none;
    padding-right: 0px;
  }
  .rowGallery .cubedImage {
    max-width: 100%;
  }
  .flex-row.centerOnMobile {
    justify-content: space-between;
  }
  .introImage .flex-column {
    max-width: 100%;
  }

  /* .rowblock:has(.textContent) {
    min-width: 50%;
  } */

  footer {
    padding: 15px 34px 100px 34px;
  }
  footer .flex-column {
    padding-left: 0px;
  }
  .projectdetails .projectheadline {
    width: 80%;
  }
  .db_item a,
  .db_item p {
    color: #000;
    font-size: 20.5px;
    font-style: normal;
    font-weight: 300;
    line-height: 25.59px; /* 124.829% */
  }
  .db_item .year {
    width: 180px;
  }
  .ressourcelist .year {
    width: 120px;
  }

  .menu_link {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 25.59px; /* 170.6% */
    margin: 5px;
  }

  .instagramStyle {
    padding: 30px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .db_item a,
  .db_item p {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px; /* 124.829% */
  }
  .db_item .year {
    width: 150px;
  }
}
a.visited:after {
  color: rgb(255, 0, 255);
}
a.visited {
  color: rgb(255, 0, 255);
}
